html {
  font-family: "Shadows Into Light", cursive;
}

.hidden-seuss {
  display: none;
}

.grid3 {
  display: none;
}

h2 {
  display: inline-block;
}

.dr,
.seuss,
.question {
  font-family: Lacquer, sans-serif;
  color: red;
}

.hang-punc,
.hang-punc2 {
  display: none;
  color: red;
}

p {
  font-family: "Shadows Into Light", cursive;
}

@media only screen and (min-width: 25em) {

  .dr,
  .seuss,
  .question {
    color: green;
  }

}

@media only screen and (min-width: 38em) {

  .hidden-seuss {
    display: inline-block;
  }

  .hidden-seuss2 {
    display: none;
  }

  .dr,
  .seuss {
    color: blue;
  }

  .question {
    color: black;
  }

  .hang-punc,
  .hang-punc2 {
    display: inline-block;
    color: blue;
  }

}

@media only screen and (min-width: 60em) {

  .dr,
  .seuss {
    color: purple;
  }

  .hang-punc,
  .hang-punc2 {
    color: purple;
  }

}

@media only screen and (min-width: 90em) {

  .grid1 {
    display: none;
  }

  .grid3 {
    display: block;
  }

  .dr,
  .seuss {
    color: orange;
  }

  .hang-punc,
  .hang-punc2 {
    color: orange;
  }

}
